@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Common styles
*/
@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background: white;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img,
  video,
  canvas,
  svg {
    max-width: 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

/**
* Component styles
*/
@layer componets {

 .clip {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

/**
* Utilities styles
*/
@layer utilities {
}
